html{
  font-family:sans-serif;
  height: 100%;
}
body{
  background-color: #2a1438fe;
}
.color{
  background-color: #371e47fe;
}
.color-secondary{
  background-color: #2a1438fe;
}

.table thead th{
  border-bottom: 2px solid #271532;
  border-top: 2px solid #271532;
  border-left: 1px solid #271532;
  border-right: 1px solid #271532;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid #271532;
}
.card{
  background-color: #371e47fe;
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  border-bottom: 2px solid #271532;
  border-top: 2px solid #271532;
  border-left: 2px solid #271532;
  border-right: 2px solid #271532;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.shadow{
  -webkit-box-shadow: 0 4px 2px -2px #999;
  -moz-box-shadow: 0 4px 2px -2px #999;
  box-shadow: 0 4px 2px -2px #999;
}

.coin-sm{
  height: 24px;
  width: 24px;
}

.color-yellow{
  color: #fc0;
}

.font{
  font-family: Roboto,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

a{
  color: #fc0;
  cursor: pointer;
  font-family: Lato,sans-serif;
  font-size: 1rem;
  line-height: 160%
}

a:link{
  text-decoration:none;
}

a:hover{
  color:#e5b700;
}

td{
  font-family: Lato,sans-serif;
  font-size: 1rem;
  line-height: 160%
}

li{
  font-family: Lato,sans-serif;
}
